<div class="menu-item-card">
    <div class="menu-header">
        {{menuItems}}
        <img class="menu-image" src="/images/menu/{{menuItems.file_name}}"/>
        <h3>{{menuItems.menuItem_name}}</h3>
    </div>
    <div class="menu-body">
        <h6>{{menuItems.description}}</h6>
  </div>

   <div class="menu-footer">
        <h6 class="wait-time">Wait time {{menuItems.time_to_prepare}} minutes</h6>
        <button  id="menuItem_{{id}}" onclick="addItem({{id}})">Order</button>
  </div>

</div>