<div class="plate-item-card">
    <div class="menu-header">
        
      <img class="menu-image" src="/images/plate-7933330.jpg"/>
        <h3>Location: {{user.city}}, {{user.state}}  <span class="cost">Cost ${{cost}} </span></h3>
    </div>
    <div class="menu-body">
        <h3>Description: {{description}}</h3>
        <h3>How long since they asked: {{date_order}}</h3>
  </div>

   <div class="menu-footer">
        <h6 class="wait-time">we will go to work on this a soon as we have funding</h6>
        <button  id="menuItem_{{id}}" onclick="payItem({{id}})">Buy this meal</button>
  </div>

</div>