<div class="plate-item-card">
    <div class="menu-header">
        
        <h3>{{menu_id}}</h3>
    </div>
    <div class="menu-body">
        <h6>{{user_id}}</h6>
  </div>

   <div class="menu-footer">
        <h6 class="wait-time">Wait time {{time_to_prepare}} minutes</h6>
        <button  id="menuItem_{{id}}" onclick="addItem({{id}})">Pay Now</button>
  </div>

</div>