<div class="row">
    <div class="col-12 login-container">
        <h2 class="login-title">Welcome, {{userData.firstName}}!</h2>
        <form class="form update-profile-form" id="update-user-form">
            <div class="form-group">
                <label for="giver">Giver</label>
                <input type="radio" id="giver-signup" name="role" value="3" {{#if userData.isGiver}} checked="checked" {{/if}}>
                <label for="receiver">Receiver</label>
                <input type="radio" id="receiver-signup" name="role" value="2" {{#if userData.isReceiver}} checked="checked"
                    {{/if}}>
            </div>
                <input class="form-input" value="{{userData.id}}" name="id" id="id" hidden/>
            <div class="form-group">
                <label for="first-name-update">First Name:</label>
                <input class="form-input" type="text" id="first-name-update" value="{{userData.firstName}}" />
            </div>
            <div class="form-group">
                <label for="last-name-update">Last Name:</label>
                <input class="form-input" type="text" id="last-name-update" value="{{userData.lastName}}" />
            </div>
            <div class="form-group">
                <label for="address-update">Address:</label>
                <input class="form-input" type="text" id="address-update" value="{{userData.address}}" />
            </div>
            <div class=" form-group">
                <label for="city-update">City:</label>
                <input class="form-input" type="text" id="city-update" value="{{userData.city}}" />
            </div>
            <div class="form-group">
                <label for="state-update">State:</label>
                <input class="form-input" type="text" id="state-update" value="{{userData.state}}" />
            </div>
            <div class="form-group">
                <label for="zip-update">Zip Code:</label>
                <input class="form-input" type="text" id="zip-update" value="{{userData.zip}}" />
            </div>
            <div class="form-group">
                <label for="phone-update">Phone Number:</label>
                <input class="form-input" type="text" id="phone-update" value="{{userData.phone}}" />
            </div>
            <div class="form-group">
                <label for="email-update">Email:</label>
                <input class="form-input" type="email" id="email-update" value="{{userData.email}}"  readonly />
            </div>
            <div class="form-group">
                <label for="password-update">Password (Minimum 6 characters):</label>
                <input class="form-input" type="password" id="password-update" minlength="6"
                    value="{{userData.password}}"  readonly />
            </div>
            <div class="form-group">
                <h4 class="error-message" id="error-message"></h4>
                <button class="btn btn-primary" type="submit">Save</button>

            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/profile.js"></script>